.pageDescription {
	
	background-image: url('../images/description_bg_ie.jpg') !important;
	
}

.whyNeed .wn_item1 {
	background-image: url('../images/wn_icon1.png');
}

.whyNeed .wn_item2 {
	background-image: url('../images/wn_icon2.png');
}

.whyNeed .wn_item3 {
	background-image: url('../images/wn_icon3.png');
}

.whyNeed .wn_item4 {
	background-image: url('../images/wn_icon4.png');
}

.benefits .bn_item1 {
	background-image: url('../images/bn_icon1.png');
}

.benefits .bn_item2 {
	background-image: url('../images/bn_icon2.png');
}

.benefits .bn_item3 {
	background-image: url('../images/bn_icon3.png');
}

.benefits .bn_item4 {
	background-image: url('../images/bn_icon4.png');
}
.results ol li:before {
	border:none;
	width: 40px;
	height: 40px;
	padding: 8px 0;
	text-align: center;
	background: url('../images/num_border.png');
	
}

